<h1>Blog Posts</h1>


<% if @tag_name %>
    <p>Displaying <%= @blog_posts.length %> result(s)</p>
<% end %>

<div class="container">
    
<div class="row">
    <% @blog_posts.each do |blog_post| %>
        <div class="col-sm-6">
            <%= link_to("/blog_posts/#{blog_post.id}") do %>
                <div class="blog-posts">
                    <h2><%= blog_post.title %></h2>
                    <p><%= blog_post.short_content %></p>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
            
    
</div>

            
