<h1>this is the new new</h1>

<%= form_tag("/blog_posts", method: :post) do %>

<label for="title">Enter Title:</label>
<input type="text" id = "title" name="title" placeholder="New Title">
<br>

<%= label_tag(:tag_ids, "Select tag(s) for your post!") %>
<br>
<%= select_tag(:tag_ids, options_from_collection_for_select(@tags, :id, :name), multiple: true, id: "select-tag") %>

<br>
<label for="content">Enter Content:</label>
<textarea type="text" id = "content" name="content" placeholder="Start Typing" cols = "30" rows = "20" style="resize: none"></textarea>
<br>
<input type="submit" value="Create new blog post!">
<% end %>


<script type="text/javascript">
  var tagSelectOptions = document.querySelectorAll('#select-tag option')

  for(var i = 0; i < tagSelectOptions.length; i++) {
    tagSelectOptions[i].addEventListener("mousedown", function(e) {
      e.preventDefault();
      var option = e.target;
      if (option.selected) {
        option.selected = false;
      } else {
        option.selected = true;
      }
    })
  }
</script>